body{
font-family: 'times new roman' , times, serif;
background-color:#000000;
}

#container{
width:1080px;
margin: 0 auto;
padding:1px;
background-color:#000;
}

#navigation{
height:60px;
border:3px solid #e3e3e3;
margin-top:5px;
background-image: url(../images/background.png);
}

ul#navmenu{
list-style-type:none;
font-size:20px;
}

ul#navmenu li{
width:140px;
text-align:center;
float:left;
margin-right:4px;
}

ul#navmenu a {
text-decoration:none;
display: block;
width: 110px;
height:25px;
background-color:#fff;
border: 1px solid #ccc;
border-radius: 5px;
}

#banner{
height:350px;
background-image:url(../images/lowergal.png);
background-size:cover;
}

#gallery1{
text-align: center;
float:right;
margin:20px 0 20px 0;
border:3px solid #e3e3e3;
color:white
}

.img1{
float: left;
margin: 0px 8px 8px 0px;
padding: 5px;
}

.img2{
float: left;
margin: 0px 8px 8px 0px;
padding: 5px;
}

.img3{
float: left;
margin: 0px 8px 8px 0px;
padding: 5px;
}

.img4{
float: left;
margin: 0px 8px 8px 0px;
padding: 5px;
}

.img5{
float: left;
margin: 0px 8px 8px 0px;
padding: 5px;
}

.img6{
float: left;
margin: 0px 8px 8px 0px;
padding: 5px;
}

.img7{
float: left;
margin: 0px 8px 8px 0px;
padding: 5px;
}

.img8{
float: left;
margin: 0px 8px 8px 0px;
padding: 5px;
}

.img9{
float: left;
margin: 0px 8px 8px 0px;
padding: 5px;
}

.img10{
float: left;
margin: 0px 8px 8px 0px;
padding: 5px;
}

.img11{
float: left;
margin: 0px 8px 8px 0px;
padding: 5px;
}

.img12{
float: left;
margin: 0px 8px 8px 0px;
padding: 5px;
}

.img13{
float: left;
margin: 0px 8px 8px 0px;
padding: 5px;
}

.img14{
float: left;
margin: 0px 8px 8px 0px;
padding: 5px;
}

.img15{
float: left;
margin: 0px 8px 8px 0px;
padding: 5px;
}

.img16{
float: left;
margin: 0px 8px 8px 0px;
padding: 5px;
}

.img17{
float: left;
margin: 0px 8px 8px 0px;
padding: 5px;
}

.img18{
float: left;
margin: 0px 8px 8px 0px;
padding: 5px;
}

.img19{
float: left;
margin: 0px 8px 8px 0px;
padding: 5px;
}

.img20{
float: left;
margin: 0px 8px 8px 0px;
padding: 5px;
}

.img21{
float: left;
margin: 0px 8px 8px 0px;
padding: 5px;
}

.img22{
float: left;
margin: 0px 8px 8px 0px;
padding: 5px;
}

.img23{
float: left;
margin: 0px 8px 8px 0px;
padding: 5px;
}

.img24{
float: left;
margin: 0px 8px 8px 0px;
padding: 5px;
}

.img25{
float: left;
margin: 0px 8px 8px 0px;
padding: 5px;
}

.img26{
float: left;
margin: 0px 8px 8px 0px;
padding: 5px;
}

.img27{
float: left;
margin: 0px 8px 8px 0px;
padding: 5px;
}

.img28{
float: left;
margin: 0px 8px 8px 0px;
padding: 5px;
}

#footer{
clear:both;
width: auto;
height: 20px;
padding: 20px;
background-image:url(../images/background.png);
color:#e3e3e3;
text-align:center;
}
