body{
font-family: 'times new roman' , times, serif;
background-color:#000000;
}

#container{
width:1080px;
margin: 0 auto;
padding:1px;
background-color:#000;
}

#line{
width: 1080px;
height: 60px;
background-size:cover;
}

#ourstory{
text-align: center;
width:1080px;
margin:20px 0 20px 0;
border:1px solid #000000;
color: white;
}

#sos{
text-align: center;
margin:20px 0 20px 0;
border:3px solid #e3e3e3;
color: white;
width: 1080px;
height: 500px;
}

.sos{
float: left;
margin: 10px 10px 10px 10px;
padding: 10px;
width:480px;
height:480px;
}

#ns{
text-align: center;
margin:20px 0 20px 0;
border:3px solid #e3e3e3;
color: white;
width: 1080px;
height: 280px;
}

.ns{
float: left;
margin: 10px 10px 10px 10px;
padding: 10px;
width:250px;
height:250px;
}

#merch{
text-align: center;
margin:20px 0 20px 0;
border:3px solid #e3e3e3;
color: white;
width: 1080px;
height: 340px;
}

.mer{
float: left;
margin: 10px 10px 10px 10px;
padding: 10px;
width:300px;
height:300px;
color:white;
}

#lastshow{
text-align: center;
width:1080px;
height:320px;
margin:20px 0 20px 0;
border:3px solid #e3e3e3;
color:white
}

.gigpic{
text-align: center;
margin: 10px 10px 10px 10px;
padding: 10px;
width:500px;
}

#about1{
text-align: center;
width:1060px;
margin:20px 0 20px 0;
border:3px solid #e3e3e3;
color:white
}

.text{
text-align: center;
margin: 0px 10px 10px 0px;
padding: 10px;
}

.img1{
text-align: center;
margin: 0px 10px 10px 0px;
padding: 5px;
}

.img2{
text-align: center;
margin: 0px 10px 10px 0px;
padding: 5px;
}

.img3{
text-align: center;
margin: 0px 10px 10px 0px;
padding: 5px;
}

.img4{
text-align: center;
margin: 0px 10px 10px 0px;
padding: 5px;
}

.img5{
text-align: center;
margin: 0px 10px 10px 0px;
padding: 5px;
}

#links{
text-align: center;
width:1080px;
margin:20px 0 20px 0;
border:3px solid #e3e3e3;
color:white
}

#footer{
clear:both;
width: auto;
height: 40px;
padding: 20px;
background-image:url(../images/background.png);
color:#e3e3e3;
text-align:center;
}
