body{
font-family: 'times new roman' , serif, serif;
background-image: url('images/Dire Thorns Background.jpg');
}

a{ 
color:#ffffff;
text-decoration:none;
}

a:hover, a:focus {
    text-decoration:underline;
}

#container{
width:1080px;
margin: 0 auto;
padding:1px;
background-color:rgba(0,0,0,0.0);
}

#logo{
text-align: center;
margin:20px 0 20px 0;
height:400px;
}

.logo{
text-align: center;
margin: 10px 10px 10px 10px;
padding: 10px;
height:450px;
}

#ourstory{
text-align: center;
width:1080px;
margin:20px 0 20px 0;
color: white;
}

#pics{
background-color:#000000;
width: 1080px;
height: 459px;
margin:20px 0 20px 0;
border:3px solid #e3e3e3;
text-align: center;
}

.pics{
width: 1080px;
height: 459px;
text-align: center;
}

#sos{
text-align: center;
background-color:#000000;
width:1080px;
height:340px;
margin:20px 0 20px 0;
border:3px solid #e3e3e3;
color: white;
}

.sos{
float: left;
margin: 10px 10px 10px 10px;
padding: 10px;
width: 300px;
height: 300px;
}

.singleart{
margin: 10px 10px 10px 10px;
padding: 10px;
width: 120px;
height: 120px;
transition: transform .2s;
}
.singleart:hover{
transform:scale(1.2);
}

#merch{
background-color:#000000;
text-align: center;
margin:20px 0 20px 0;
border:3px solid #e3e3e3;
color: white;
width: 1080px;
height: 340px;
}

.mer{
float: left;
margin: 10px 10px 10px 10px;
padding: 10px;
width:300px;
height:300px;
}

#lastshow{
text-align: center;
width:1080px;
margin:20px 0px 20px 0px;
border:3px solid #e3e3e3;
color:white;
background-color:#000000;
}

#tour{
text-align: center;
width:1080px;
height:400px
margin:20px 0px 20px 0px;
border:3px solid #e3e3e3;
color:white;
background-image: url('images/thmtourbanner.png');
}

#about1{
background-color:#000000;
text-align: center;
width:1060px;
margin:20px 0 20px 0;
border:3px solid #e3e3e3;
color:white;
}

.text{
text-align: center;
margin: 0px 10px 10px 0px;
padding: 10px;
}

#links{
text-align: center;
background-color:#000000;
width:1080px;
margin:20px 0 20px 0;
border:3px solid #e3e3e3;
color:white;
}

#footer{
clear:both;
width: auto;
height: 40px;
padding: 20px;
background-image:url(../images/background.png);
color:#e3e3e3;
text-align:center;
}
